<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="theme-color" content="#0072B5" />
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/common/css/glyphicons/glyphicons.css" />
        <link rel="stylesheet" type="text/css" href="/static/common/css/w3.css" />
        <link rel="stylesheet" type="text/css" href="/static/common/css/w3-colors-2021.css" />
        <link rel="stylesheet" type="text/css" href="/static/common/css/style.css?r=1" />
        <link rel="stylesheet" type="text/css" href="/static/mir/css/style.css?r=1" />
        {% block scripts %}{% endblock %}
    </head>
    <body class="grey-color">
        <main class="w3-section">
            <div class="w3-content"  style="max-width:420px">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>

