{% extends 'base.html' %}

{% block title %} МИР | ВХОД {% endblock %}

{% block content %}
<form class="w3-padding" action="" enctype="multipart/form-data" method="POST">
    <p class="w3-padding w3-center w3-2021-french-blue text-bold">МИР | ВХОД</p>
    <input class="w3-input w3-center" type="text" name="login" maxlength="" placeholder="логин" pattern="^[a-z]+$" required />
    <input class="w3-input w3-center" type="text" name="password" maxlength="" placeholder="пароль" pattern="^[a-z]+$" required />
    <button class="w3-margin-top w3-button w3-tiny w3-2021-rust text-bold">ВОЙТИ</button>
    <a class="w3-block w3-margin-top w3-text-indigo w3-hover-text-blue no-text-decoration" href="/sign-up">регистрация</a>
</form>
{% endblock %}


