<div class="message-container w3-padding w3-white" onclick="openForm({{ new.id }})">
    <small>{{ new.title }}</small>
    <br/>
    <a class="cropped-link w3-hover-text-blue" href="{{ new.link }}" target="_blank"><small>{{ new.link }}</small></a>
    <div class="w3-margin-top" style="display:flex;justify-content:space-between">
        <span class="w3-text-brown w3-tiny text-bold">{{ new.creator }} &nbsp {{ new.pub_date.strftime('%H:%M (%d.%m.%Y)') }}</span>
    </div>
    <form id="{{ new.id }}" class="w3-hide " style="margin-top: 16px; background-colors: #ffe2dd" action="/message/add" enctype="multipart/form-data" method="POST">
        <p><input class="w3-check w3-white" type="checkbox" name="title" checked="checked"> получить титл</p>
        <div id="info_{{ new.id }}" class="w3-center w3-text-indigo"></div>
        <input id="tags_{{ new.id }}" class="w3-input" type="text" name="tags" checked="checked" placeholder="тэги через пробел" />
        <textarea id="text_{{ new.id }}" name="text" class="w3-white w3-input" style="resize: vertical" rows="7" placeholder="текст сообщения">{{ new.link }}</textarea>
        <button id="but_{{ new.id }}" class="w3-margin-top w3-round w3-button w3-tiny w3-2021-rust"  onclick="send(event, {{ new.id }})">ОТПРАВИТЬ</button>
    </form>
</div>
