{% extends 'base.html' %}

{% block title %} МИР | ДОБАВИТЬ СООБЩЕНИЕ {% endblock %}

{% block scripts %}<script src="/static/mir/js/script.js?r=1"></script>{% endblock %}

{% block content %}
{% include 'nav.html' %}
<form class="w3-padding" action="" enctype="multipart/form-data" method="POST">
    <p><input class="w3-check w3-white" type="checkbox" name="title" checked="checked"> получить титл</p>
    <p id="info" class="w3-center w3-text-indigo"></p>
    <input id="tags" class="w3-input" type="text" name="tags" placeholder="тэги через пробел" />
    <textarea id="text" name="text" class="w3-input w3-white" style="resize: vertical" rows="7" placeholder="текст сообщения"></textarea>
    <input id="file" style="display: none;" type="file" name="file" accept="" />
    <input id="file_size" type="hidden" name="file_size" />
    <button class="w3-margin-top w3-button w3-tiny w3-2021-rust" onclick="send(event)"><strong>ОТПРАВИТЬ</strong></button>
    <button class="w3-margin-top w3-right w3-button w3-tiny w3-2021-rust" onclick="addFile(event, 'file')"><strong>ФАЙЛ</strong></button>
</form>
{% endblock %}
