{% extends 'base.html' %}

{% block title %} МИР | КОММЕНТАРИИ {% endblock %}

{% block content %}
<p class="w3-center w3-text-indigo">комментарии</p>
{% for comment in comments %}
<div class="message-container w3-padding w3-white w3-hover-pale-yellow" onclick="if (event.target.tagName !== 'A') {document.location.href = '/message/{{ comment.message_id }}#{{ comment.id }}'}">
    <div class="message">{{ comment.text }}</div>
    {% if comment.file_name %}
        {% if comment.file_type in image %}
            <div class="w3-margin-top w3-center"><img src="/comment/file/{{ comment.id }}" width="100%" style="width: 100%; max-width: 420px"/></div>
        {% elif comment.file_type in audio %}
            <audio src="/comment/file/{{ comment.id }}" controls style="margin: 8px 0 0 0; width:100%"></audio>
	    {% elif comment.file_type in video %}
		    <div class="w3-margin-top w3-center"><video src="/comment/file/{{ comment.id }}" controls style="width: 100%; max-width: 420px"></video></div>
        {% endif %}
        <div class="w3-margin-top w3-center w3-small" style="word-wrap: break-word;">
            {{ comment.file_type }}<br>{{ comment.file_size }} байт<br><a class="w3-text-indigo w3-hover-text-blue no-text-decoration" href="/comment/file/{{ comment.id }}" download="{{ comment.file_name }}">{{ comment.file_name }}</a>
        </div>
    {% endif %}
    <div class="w3-margin-top w3-tiny w3-text-brown text-bold" style="display: flex; justify-content: space-between">
        {% for user in users %}
            {% if comment.user_id == user.id %}
            <span>{{ user.name }} &nbsp {{ comment.date.strftime('%H:%M (%d.%m.%Y)') }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
<div class="w3-padding w3-center w3-text-indigo">
{% if page > 1 %}
    {% if page == 2 %}
        <a class="w3-margin-right" href="/comments/1">1</a> <a href="/comments/1"><<<</a>
    {% elif page > 2 %}
        <a class="w3-margin-right" href="/comments/1">1</a> <a href="/comments/{{ page - 1 }}"><<<</a>
    {% else %}
        <a href="/comments/1"><<<</a>
    {% endif %}
{% else %}
    <<< 
{% endif %}
 {{ page }} 
{% if page < pages %}
    <a href="/comments/{{ page + 1 }}">>>></a> <a class="w3-margin-left" href="/comments/{{ pages }}">{{ pages }}</a>
{% else %}
    >>>
{% endif %}
</div>
{% endblock %}

