{% extends 'base.html' %}

{% block title %} MИР | ИНТЕРЕСНЫЕ ССЫЛКИ {% endblock %}

{% block content %}
<div class="w3-margin">
    <p class="w3-text-indigo">музыка</p>
    <p><a class="w3-hover-text-blue" href="https://bandcamp.com" target="_blank">https://bandcamp.com</a></p>
    <p><a class="w3-hover-text-blue" href="https://musify.club" target="_blank">https://musify.club</a></p>
    <p><a class="w3-hover-text-blue" href="https://music.yandex.ru/home" target="_blank">https://music.yandex.ru/home</a></p>
    <p class="w3-text-indigo">разное</p>
    <p><a class="w3-hover-text-blue" href="/corner" target="_blank">расчёт угла</a></p>
    <p><a class="w3-hover-text-blue" href="https://www.linux.org.ru" target="_blank">https://www.linux.org.ru</a></p>
</div>
{% endblock %}
