<div class="message-container w3-margin-top w3-padding w3-white w3-hover-pale-yellow" onclick="if (event.target.tagName !== 'A') {document.location.href = '/message/{{ message.id }}'}">
    <div class="w3-margin-bottom" style="display: flex; justify-content: flex-end;">
        {% for tag in message.tags %}
            &nbsp<a class="w3-tiny w3-text-green w3-hover-text-blue text-bold no-text-decoration" href="/messages/1?tags[]={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
    <div class="message">{{ message.text }}</div>
    {% if message.file_name %}
        {% if message.file_type in image %}
            <div class="w3-margin-top w3-center"><img src="/message/file/{{ message.id }}" width="100%" style="width: 100%; max-width: 420px"/></div>
        {% elif message.file_type in audio %}
            <audio src="/message/file/{{ message.id }}" controls style="margin: 8px 0 0 0; width:100%"></audio>
		{% elif message.file_type in video %}
			<div class="w3-margin-top w3-center"><video src="/message/file/{{ message.id }}" controls style="width: 100%; max-width: 420px"></video></div>
        {% endif %}
        <div class="w3-margin-top w3-center w3-small" style="word-wrap: break-word;">
            {{ message.file_type }}<br>{{ message.file_size }} байт<br><a class="w3-text-indigo w3-hover-text-blue no-text-decoration" href="/message/file/{{message.id }}" download="{{ message.file_name }}">{{ message.file_name }}</a>
        </div>
    {% endif %}
    <div class="w3-margin-top w3-tiny w3-text-brown text-bold" style="display: flex; justify-content: space-between">
        {% for user in users %}
            {% if message.user_id == user.id %}
            <span>{{ user.name }} &nbsp {{ message.date.strftime('%H:%M (%d.%m.%Y)') }}</span>
            {% endif %}
        {% endfor %}
        <span class="w3-small">
            <div style="float: left; margin-top: 1px;"><span class="glyphicon glyphicon-comment"></span></div>
            <div style="float: left; margin-top: 0px;">&nbsp{{ message.comments_number }}</div>
        </span>
    </div>
</div>
