<div class="w3-padding w3-center w3-text-indigo">
{% if page > 1 %}
    {% if page == 2 %}
        <a class="w3-margin-right" href="/messages/1">1</a> <a href="/messages/1"><<<</a>
    {% elif page > 2 %}
        <a class="w3-margin-right" href="/messages/1">1</a> <a href="/messages/{{ page - 1 }}"><<<</a>
    {% else %}
        <a href="/messages/1"><<<</a>
    {% endif %}
{% else %}
    <<<
{% endif %}
 {{ page }} 

{% if page < pages %}
    <a href="/messages/{{ page + 1 }}">>>></a> <a class="w3-margin-left" href="/messages/{{ pages }}">{{ pages }}</a>
{% else %}
    >>>
{% endif %}
</div>
