{% extends 'base.html' %}

{% block title %} МИР | ПОСЕТИТЕЛИ {% endblock %}

{% block content %}
<div class="w3-section w3-center w3-text-indigo">посетители</div>
{% for visitor in visitors %}
<div class="message-container w3-padding w3-white">
    <div><strong><small>method: </small></strong><small>{{ visitor.method }}</small></div>
    <div><strong><small>path: </small></strong><small>{{ visitor.path|safe }}</small></div>
    <div><strong><small>ip: </small></strong><small>{{ visitor.ip }}</small></div>
    <div><strong><small>user-agent: </small></strong><small>{{ visitor.user_agent }}</small></div>
    <div><strong><small>time: </small></strong><small>{{ visitor.date.strftime('%H:%M (%d.%m.%Y)') }}</small></div>
</div>
{% endfor %}
<div class="w3-padding w3-center">
{% if page > 1 %}
    {% if page == 2 %}
        <a class="w3-margin-right" href="/visitors/1">1</a> <a href="/visitors/1"><<<</a>
    {% elif page > 2 %}
        <a class="w3-margin-right" href="/visitors/1">1</a> <a href="/visitors/{{ page - 1 }}"><<<</a>
    {% else %}
        <a href="/visitors/1"><<<</a>
    {% endif %}
{% else %}
    <<< 
{% endif %}
 {{ page }} 
{% if page < pages %}
    <a href="/visitors/{{ page + 1 }}">>>></a> <a class="w3-margin-left" href="/visitors/{{ pages }}">{{ pages }}</a>
{% else %}
    >>>
{% endif %}
</div>
{% endblock %}
