{% extends 'base.html' %}

{% block title %} ПОЧТА | ГЛАВНАЯ {% endblock %}

{% block content %}
<p class="w3-margin-left w3-text-indigo">
    <a class="w3-hover-text-blue no-text-decoration text-bold" href="/mail/incoming/1">входящие</a>
    <strong class="w3-text-orange">{{ incoming_unread_messages_number }} </strong>непрочитанных
</p>
<p class="w3-margin-left w3-text-indigo">
    <a class="w3-hover-text-blue no-text-decoration text-bold" href="/mail/sent/1">отправленные</a>
    <strong class="w3-text-orange">{{ sent_unread_messages_number }} </strong>непрочитанных
</p>
{% endblock %}
