<div class="message-container w3-margin-top w3-padding w3-white w3-hover-pale-yellow" onclick="if (event.target.tagName !== 'A') {document.location.href = '/mail/message/{{ message.id }}'}">
    <div class="message">{{ message.text }}</div>
    {% if message.file_name %}
        {% if message.file_type in image %}
            <div class="w3-margin-top w3-center"><img src="/mail/message/file/{{ message.id }}" width="100%" style="width: 100%; max-width: 420px"/></div>
        {% elif message.file_type in audio %}
            <audio src="/mail/message/file/{{ message.id }}" controls style="margin: 8px 0 0 0; width:100%"></audio>
		{% elif message.file_type in video %}
			<div class="w3-margin-top w3-center"><video src="/mail/message/file/{{ message.id }}" controls style="width: 100%; max-width: 420px"></video></div>
        {% endif %}
        <div class="w3-margin-top w3-center" style="word-wrap: break-word;">
            <small>{{ message.file_type }}<br>{{ message.file_size }} байт<br><a class="w3-hover-text-blue" href="/mail/message/file/{{message.id }}" download="{{ message.file_name }}">{{ message.file_name }}</a></small>
        </div>
    {% endif %}
    <div class="w3-margin-top" style="display: flex; justify-content: space-between">
        <div>
        {% for user in users %}
            {% if message.sender == user.id %}
            <strong class="w3-text-brown"><small>{{ user.name }}</small></strong> > 
            {% endif %}
        {% endfor %}
        {% for user in users %}
            {% if message.recipient == user.id %}
            <strong class="w3-text-brown"><small>{{ user.name }}</small></strong>
            {% endif %}
        {% endfor %}
        </div>
        <strong class="w3-text-brown" style="line-height: 2.2; font-size: 10px">{{ message.date.strftime('%H:%M (%d.%m.%Y)') }}</strong>
    </div>
</div>
